@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Mukta+Mahee:wght@200;300;400;500;600;700;800&display=swap');
/* Colors will be:
Deep Charcoal: hsl(240, 3%, 11%) - background
Ice Blue: hsl(198, 34%, 73%) - h1,h2 gradient padding with glow
Silver: hsl(0, 0%, 77%) - p with low glow
*/

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Mukta Mahee', Arial, sans-serif;
    font-weight: normal;
    color: hsl(0, 0%, 77%);
    background-color: hsl(240, 3%, 11%);
}

header {
    padding: 2em 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    height: 200px;
    border-radius: 1.5rem;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding: 2em 3em;
    font-size: 3em;
    text-transform: uppercase;
    font-family: 'Maven Pro', Impact, sans-serif;
    font-weight: bold;
    text-align: center;
    color: hsl(198, 34%, 73%);
}

h2 {
    padding: 2em 3em;
    font-size: 36px;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Maven Pro', Impact, sans-serif;
    font-weight: bold;
}

p {
    /* align-self: stretch; */
    /* Revert flex item's align to default */
    max-width: 75ch;
    /* 75 characters per line for easy reading */
    column-count: 2;
    column-gap: 5em;
    /* To widen gap between column paragraphs */
    padding: 2em 3em;
    font-size: 1.5em;
    line-height: 1.5;
    letter-spacing: 1px;
    hyphens: auto;
    text-align: left;
}

@media (max-width: 768px) {
    
    h2 {
        padding: 1em 1.5em;
        /* Decrease padding by half so as to prevent wasting 
        screen real estate */
    }
    p {
        font-size: 1em;
        column-count: 1;
    }
    
}