@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Mukta+Mahee:wght@200;300;400;500;600;700;800&display=swap');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Mukta Mahee', sans-serif;
    font-weight: normal;

    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, skyblue, darkgrey);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 2rem 2rem;
}

iframe {
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    height: 200px;
    border-radius: 1.5rem;

}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    text-transform: uppercase;
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    margin-top: 12vh;
    margin-bottom: 10vh;
}

h2 {
    font-size: 36px;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    padding: 0 10vw 5vh;
}

p {
    padding: 0 10vw 5vh;
    font-size: 1.5em;
    line-height: 1.5;
    hyphens: auto;
    text-align: left;
}

@media (max-width: 768px) {
    p {
        font-size: 14px;
    }
}

.cloud-1 {

    width: 100vw;
    /* cloud will be able to move across the width of the viewport */
    height: 250px;
    background: url('assets/images/cloud-1.png') no-repeat;
    background-size: 50vw auto;
    position: fixed;
    /* Set cloud in the background to move relative to vertical scroll position */
    z-index: -1;
    /* Set cloud behind the text */
    animation: moveCloud1 10s linear infinite;


}

.cloud-2 {

    width: 100vw;
    /* cloud will be able to move across the width of the viewport */
    height: 250px;
    background: url('assets/images/cloud-2.png') no-repeat;
    background-size: 50vw auto;
    position: fixed;
    /* Set cloud in the background to move relative to vertical scroll position */
    z-index: -1;
    /* Set cloud behind the text */
    animation: moveCloud2 10s linear infinite;
    animation-delay: 5s;
    /* Offset start of second cloud 2.5s after first cloud */
}

@keyframes moveCloud1 {
    0% {
        background-position: -50vw 0;
        opacity: 100%;
    }

    50% {
        opacity: 50%;
    }

    100% {
        background-position: 100vw 0;
        opacity: 100%;
    }
}

@keyframes moveCloud2 {
    0% {
        background-position: -50vw 100%;
        opacity: 100%;
    }

    50% {
        opacity: 50%;
    }

    100% {
        background-position: 100vw 100%;
        opacity: 100%;
    }
}